<div>
  <%= link_to department_receipt_path(@department, receipt), class: "link-block" do %>
  <div class="card-body">
    <h5 class="card-title"><%= receipt.description %></h5>
    <p class="card-text text-muted">AUD <%= receipt.amount %></p>
  </div>
  <div class="card-bottom">
    <p class="card-text">Date: <%= receipt.date %></p>
  </div>
  <% end %>
</div>
`
