<div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 p-5 mb-5 mt-5 bg-white">
  <h1>Add Department</h1>
  <%= simple_form_for(@department) do |f| %>
    <%= f.input :name %>
    <!-- Select Head user from available users -->
    <!-- Gets users id but displays email -->
    <%= f.collection_select(:head_id, User.all, :id, :email)  %>
    <%= f.submit 'Add Department', class: "btn btn-lg btn-primary"  %>
  <% end %>
</div>
