<h1>Departments Show</h1>

<% if current_user.department_ids.include? @department.id %>

  <h1> <%= @department.name %> </h1>
  <div class="card my-3">
    Budget
  </div>


  <div class="card p-2 my-2">

  <h3>Pending Receipts</h3>

  <% @receipts_pending.each do |receipt_pending| %>
    <li class="list-group-item bg-warning"><%= render 'components/receipts_card', receipt: receipt_pending %></li>

    <% end %>
  </div>
    <div class="card p-2 my-2">

  <h3>Approved Receipts</h3>

  <% @receipts_approved.each do |receipt_approved| %>
    <li class="list-group-item bg-success"><%= render 'components/receipts_card', receipt: receipt_approved %></li>

    <% end %>
  </div>
    <div class="card p-2 my-2">

  <h3>Rejected Receipts</h3>

  <% @receipts_rejected.each do |receipt_rejected| %>

    <li class="list-group-item bg-danger"><%= render 'components/receipts_card', receipt: receipt_rejected %></li>

    <% end %>
  </div>
<% else %>
<h1>Sorry, you dont have access</h1>
<% end %>
